<div class="row m-3">
  <% products.each do |product| %>
    <div class="col-sm-6 col-xl-3 mb-4">
      <div class="card bg-light h-100 justify-content-between shadow-lg hover-img">
          <%= attachment_image_tag(product, :image, format: "jpg", size: "240x180", class: "card-img-top img-fluid") %>
          <div class="card-body flex-grow-1 d-flex flex-column justify-content-between">
            <%= link_to product_path(product), class: "text-reset stretched-link" do %>
              <h5 class="card-title"><%= product.name %></h5>
            <% end %>
            <p class="card-text">￥<%= product.tax_price.to_s(:delimited) %></p>
          </div>
      </div>
    </div>
  <% end %>
</div>
