
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5 mb-4">注⽂履歴一覧</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
          <thead class="thead-light">
              <tr>
                 <th>購入日時</th>
                 <th>購入者</th>
                 <th>注文個数</th>
                 <th>注文ステータス</th>
              </tr>
          </thead>

         <tbody>
          <% @orders.each do |order| %>
              <tr>
                <!--購入日時のリンク先は注文履歴詳細 slash_and_timeは日本-->
                <td><%= link_to admin_order_path(order) do %></td>
                　　    <%= order.created_at.to_s(:slash_and_time) %>
                　   <% end %>
                <!--オーダーのカスタマーに紐付いてるネームをもってくる-->
                <td><%= order.customer.last_name + order.customer.first_name %></td>
                 <!--商品個数をeach文でまわして合計値をだす-->
                 <td>order.order_details.sum(:quantity)</td>
                 <!--オーターのステータスの記述-->
                <td><%= order.order_status %></td>
              </tr>
       　　<% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

