<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h4 class="mb-3">配送先編集</h4>
      <%= render 'public/addresses/form', address: @address %>
    </div>
  </div>
</div>